<div class="popup-backdrop" *ngIf="isPopupVisible" (click)="closePopup()"></div>
<div class="popup" *ngIf="isPopupVisible">
    <div class="container">
        <div class="state">
          <label for="stateInput">State</label>
          <div>
            <button class="open">Open</button>
            <button class="closed">Closed</button>
            <button class="refunded">Refunded</button>
          </div>
        </div>
      
        <div class="img">
          <img src="" alt="">
          <p>{{selectedProduct}}</p>
        </div>
      
        <div class="merchant">
          <label for="merchantInput">Merchant</label>
          <select id="merchantSelect" class="selector">
            <option *ngFor="let merchant of merchants" [value]="merchant">{{ merchant }}</option>
          </select>
        </div>
      
        <div class="service">
          <label for="serviceSelect">Service</label>
          <select id="serviceSelect" class="selector">
            <option *ngFor="let service of services" [value]="service">{{ service }}</option>
          </select>
        </div>
      
        <div class="people">
          <label for="peopleInput">Nº of people</label>
          <input id="peopleInput" type="number" placeholder="Enter number of people">
        </div>
      
      
        <div class="employee">
          <label for="employeeInput">Employee</label>
          <input id="employeeInput" type="text" placeholder="Enter employee name">
        </div>
      
        <div class="name">
          <label for="nameInput">Name</label>
          <input id="nameInput" type="text" placeholder="Enter client's name">
        </div>
      
        <div class="products">
          <label for="productsInput">Products</label>
          <select id="productSelect" class="selector">
            <option *ngFor="let product of products" [value]="product">{{ product.name }}</option>
          </select>
        </div>
      
        <div class="counter">
          <div>
            <button (click)="decrement()"><img src="./minus.png" alt=""></button>
            <p>{{quantity}}</p>
            <button (click)="increment()"><img src="./plus.png" alt=""></button>
          </div>
        </div>

        <div class="actions">
          <button class="add"><img src="./check.png" alt=""></button>
          <button class="remove"><img src="./trash.png" alt=""></button>
        </div>
      
        <div class="resume">
          <div *ngFor="let product of selectedProducts">
            <p>Product: {{ product.name }}</p>
            <p>Category: {{ product.category }}</p>
            <p>Description: {{ product.description }}</p>
            <p>Quantity: {{ quantity }}</p>
            <p>Price: {{ product.price }}</p>
            <p>Taxes: {{ product.taxes }}</p>
          </div>
        </div>
      
        <div class="price">
          <label for="productsInput">Price</label>
          <div>
            <p>{{totalprice}}</p>
            <button (click)="addOrder()">Create</button>
          </div>
        </div>
    </div>
    <!--    <button (click)="closePopup()">Close</button>
 -->
</div>

