<app-login #login></app-login>
<nav>
    <button routerLink="/dashboard" routerLinkActive="active"><img src="home.png" alt="xd">Dashboard</button>
    <button routerLink="/orders" routerLinkActive="active"><img src="order.png" alt="">Orders</button>
    <button routerLink="/reservations" routerLinkActive="active"><img src="reservations.png" alt="">Reservations</button>
    <button routerLink="/payments" routerLinkActive="active"><img src="pay.png" alt="">Payments</button>
    <button routerLink="/discounts" routerLinkActive="active"><img src="discount.png" alt="">Discounts</button>
    <button routerLink="/taxes" routerLinkActive="active"><img src="tax.png" alt="">Taxes</button>
    <button routerLink="/products" routerLinkActive="active"><img src="product.png" alt="">Products</button>
    <button routerLink="/merchants" routerLinkActive="active"><img src="merchant.png" alt="">Merchants</button>
    <button routerLink="/users" routerLinkActive="active"><img src="user.png" alt="">Users</button>
    <button routerLink="/services" routerLinkActive="active"><img src="service.png" alt="">Services</button>
    <button (click)="showloginpopup()"><img src="login.png" alt="">Login</button>
</nav>
