<app-add-discount #popup></app-add-discount>
<app-edit-discount #popupedit></app-edit-discount>

<header class="title">
    <h1>Discounts Management</h1>
</header>
<div class="buttons">
    <button class="add-button" (click)="addDiscount()">Add</button>
    <button class="delete-button" (click)="deleteDiscount()">Delete</button>
    <button class="edit-button" (click)="editDiscount()">Edit</button>
    <button class="filter-button" (click)="filterOrders()">
        Filter
        <img src="./filter.png" alt="">
    </button>
</div>