<div class="container">
  <div class="content">
    <!-- Aquí se carga el contenido basado en la ruta -->
    <router-outlet></router-outlet>
  </div>

  <div class="sidebar">
    <ul>
      <li><a routerLink="/order" routerLinkActive="active">Order</a></li>
      <li><a routerLink="/reservation" routerLinkActive="active">Reservations</a></li>
      <li><a routerLink="/merchant" routerLinkActive="active">Merchants</a></li>
      <li><a routerLink="/product" routerLinkActive="active">Products</a></li>
      <li><a routerLink="/service" routerLinkActive="active">Services</a></li>
      <li><a routerLink="/tax" routerLinkActive="active">Taxes</a></li>
      <li><a routerLink="/discount" routerLinkActive="active">Discounts</a></li>
      <li><a routerLink="/user" routerLinkActive="active">Users</a></li>
      <li *ngIf="isloggedIn"><a (click)="logout()" routerLinkActive="active">Log out</a></li>
      <li *ngIf="!isloggedIn"><a routerLink="/login" routerLinkActive="active">Login</a></li>
    </ul>
  </div>
</div>

<app-notification></app-notification>
