<app-add-merchant #popup></app-add-merchant>
<app-edit-merchant #popupedit></app-edit-merchant>
<app-delete-popup #popupdelete></app-delete-popup>

<header class="title">
    <h1>Merchant Management</h1>
</header>
<div class="buttons">
    <button class="add-button" (click)="addMerchant()">Add</button>
    <button class="delete-button" (click)="deleteMerchant()">Delete</button>
    <button class="edit-button" (click)="editMerchant()">Edit</button>
    <button class="filter-button" (click)="filterOrders()">
        Filter
        <img src="./filter.png" alt="">
    </button>
</div>

<app-ordering-table #table [columns]="columns" [data]="data"></app-ordering-table>
