header{
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    height: 110px;
}

header section{
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

.fecha{
    font-size: 20px;
    font-weight:600;
}

.hora{
    font-size: 20px;
    font-weight:normal;
    background-color: #ADB5BD;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.container { 
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 370px); /* 4 columnas de 370px */
    grid-template-rows: 180px 80px 450px;
    grid-auto-flow: row;
    grid-template-areas:
      "total revenue refunded out"
      "notify reservation sales sales"
      "status status sales sales";
    gap: 30px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.container div {
    display: flex;  /* Usamos flexbox dentro de cada celda */
    width: 100%;  /* Para que ocupe todo el espacio disponible */
    height: 100%;  /* Para que ocupe todo el espacio disponible */
    border-radius: 10px;
    box-shadow: 3px 5px 10px -1px rgba(0,0,0,0.75);
}

.container div:hover {
    transform: scale(1.01);
    cursor: pointer;
    transition: transform 0.5s;
}

.revenue { 
    grid-area: revenue;
    background-color: #ff006e;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.revenue h2{
    font-size: 20px;
    font-weight: normal;
    margin: 20px;
    padding: 0;
}

.revenue p{
    font-size: 35px;
    font-weight: 800;
    margin: 20px;
    padding: 0;
    align-self: flex-end;
}

.refunded { 
    grid-area: refunded;
    background-color: #8338ec;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.refunded h2{
    font-size: 20px;
    font-weight: normal;
    margin: 20px;
    padding: 0;
}

.refunded p{
    font-size: 35px;
    font-weight: 800;
    margin: 20px;
    padding: 0;
    align-self: flex-end;
}

.total { 
    grid-area: total;
    background-color: #fb5607;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.total h2{
    font-size: 20px;
    font-weight: normal;
    margin: 20px;
    padding: 0;
}

.total p{
    font-size: 35px;
    font-weight: 800;
    margin: 20px;
    padding: 0;
    align-self: flex-end;
}

.out { 
    grid-area: out;
    background-color: #3a86ff;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.out h2{
    font-size: 20px;
    font-weight: normal;
    margin: 20px;
    padding: 0;
    color: white;
}

.out p{
    font-size: 35px;
    font-weight: 800;
    margin: 20px;
    padding: 0;
    align-self: flex-end;
    color: white;
}



.notify { 
    grid-area: notify;
    background-color: #495057;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notify section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
    font-size: 18px;
}

.reservation { 
    grid-area: reservation;
    background-color: #495057;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notify p{
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
}

.reservation section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
    font-size: 18px;
}

.reservation p{
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
}


.status { 
    grid-area: status;
    background-color: #6C757D;
    color: rgb(255, 255, 255);
}

.sales { 
    grid-area: sales; 
    background-color: #ADB5BD;
    color: rgb(255, 255, 255);
}
  