<div class="popup-backdrop" *ngIf="isPopupVisible" (click)="closePopup()"></div>
<div class="popup" *ngIf="isPopupVisible">
    <div class="container">
        <!--Inputs section-->
        <section>
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" [(ngModel)]="merchant.displayName">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" [(ngModel)]="merchant.email">
            </div>
            <div>
                <label for="phone">Phone</label>
                <input type="tel" id="phone" [(ngModel)]="merchant.mainPhoneNumber">
            </div>
            <div>
                <label for="category">Category</label>
                <input type="text" id="category" [(ngModel)]="merchant.legalName">
            </div>
            <div>
                <label for="address">Address</label>
                <input type="text" id="address" [(ngModel)]="merchant.address">
            </div>
        </section>

        <!--Timetable section-->
        <section>
            <h3>Schedule</h3>
            <div *ngFor="let day of weekDays; let i = index">
                <div>
                    <input type="checkbox" id="{{day}}-checkbox" [(ngModel)]="merchant.workingSchedule[i].isOpen">
                    <label for="{{day}}-checkbox">{{day}}</label>
                </div>
                <div *ngIf="merchant.workingSchedule[i].isOpen">
                    <label for="{{day}}-start">Start Time</label>
                    <input type="time" id="{{day}}-start" [(ngModel)]="merchant.workingSchedule[i].StartTime">
                    <label for="{{day}}-end">End Time</label>
                    <input type="time" id="{{day}}-end" [(ngModel)]="merchant.workingSchedule[i].EndTime">
                </div>
            </div>
        </section>

        <!--State section-->
        <section>
            <h3>State</h3>
            <div>
            </div>
        </section>

        <!--Description section-->
        <section>

        </section>

    </div>
</div>
